node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

dist/
tmp/
tags
.DS_Store
.idea
.sass-cache/
*.css.map
*.zip
*.rar
*.7z
